In [1]:
#importer le jeu de donnée
import pandas as pd

data = pd.read_csv('Supermarché - Apprentissage.csv')

In [2]:
#bch n'affichi data mte3i
data

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [3]:
#dumension du data 
data.shape

(8523, 12)

In [4]:
#nom  des  colonnes
data.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales'],
      dtype='object')

In [21]:
#donner monquante
data.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [18]:
#bch n7awel nbda bel sehel bchwaya bchwaya lin nousel
#awal mabdit bch nara les valeurs ili sehlin wmaya3mloulich mochkla wmayst7a9ouch barcha 5dma wna3mlilhom transformation
#bch n5dm awal 7aga 3al année
#bch n'affichi les valeurs mte3ha
data['Outlet_Establishment_Year'].unique()

array([1999, 2009, 1998, 1987, 1985, 2002, 2007, 1997, 2004], dtype=int64)

In [19]:
#bch n7ott les valeurs ilkoll fi nafs l'echelle
#bch n7awel na3mlilhom transformation bin -1 w 1
from sklearn.preprocessing import StandardScaler
std = StandardScaler()

#bch na3mal normalisation ken lil colonne 'Outlet_Establishment_Year'
data['Outlet_Establishment_Year'] = std.fit_transform(
    data[['Outlet_Establishment_Year']]
)

data

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,0.139541,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,1.334103,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,0.139541,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,0.020085,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,-1.293934,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,-1.293934,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,0.497909,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,0.736822,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,1.334103,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,-0.099372,Small,Tier 1,Supermarket Type1,765.6700

In [ ]:
#bch n'affichi les valeurs mta3 colonne Outlet_Location_Type
data['Outlet_Location_Type'].value_counts()

Outlet_Location_Type
Tier 3    3350
Tier 2    2785
Tier 1    2388
Name: count, dtype: int64

In [23]:
#bch ntransformihom bin -1 w1
from sklearn.preprocessing import LabelEncoder
# bch n'ncodi les valeurs bin avec 0 1 2
le = LabelEncoder()
encoded = le.fit_transform(data['Outlet_Location_Type'])

# tawa bch normalisihom bin -1 w 1
scaler = StandardScaler()
data['Outlet_Location_Type'] = scaler.fit_transform(encoded.reshape(-1, 1))

data['Outlet_Location_Type']

0      -1.369334
1       1.091569
2      -1.369334
3       1.091569
4       1.091569
          ...
8518    1.091569
8519   -0.138882
8520   -0.138882
8521    1.091569
8522   -1.369334
Name: Outlet_Location_Type, Length: 8523, dtype: float64

In [25]:
data

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,0.139541,Medium,-1.369334,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,1.334103,Medium,1.091569,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,0.139541,Medium,-1.369334,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,0.020085,NaN,1.091569,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,-1.293934,High,1.091569,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,-1.293934,High,1.091569,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,0.497909,NaN,-0.138882,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,0.736822,Small,-0.138882,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,1.334103,Medium,1.091569,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,-0.099372,Small,-1.369334,Supermarket Type1,765.6700

In [ ]:
#bch ntraiti les donnée bch na9sam il base 3ala sous base selon les supermarcher "Outlet_Type"
#awal 7aga bch nara chnouma les super marché illi andii wkoll we7ed 9adh min produits andou
data['Outlet_Type'].value_counts()

Outlet_Type
Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: count, dtype: int64

In [ ]:
#tawa bch na9sam il data ala des sous data selon les noms
for outlet_type in data['Outlet_Type'].unique():
    # hna bch n7a4ar lism mta3 koll sous_databse
    clean_name = outlet_type.replace(" ", "_")
    # bch nhezz ken les variable mta3 supermarcher illi n5dm alih
    globals()[f"data_{clean_name}"] = data[data['Outlet_Type'] == outlet_type]
    # ken t3adda avec succes bch n'affichih
    print(f"✅ data_{clean_name} créé avec {len(globals()[f'data_{clean_name}'])} lignes.")

✅ data_Supermarket_Type1 créé avec 5577 lignes.
✅ data_Supermarket_Type2 créé avec 928 lignes.
✅ data_Grocery_Store créé avec 1083 lignes.
✅ data_Supermarket_Type3 créé avec 935 lignes.

In [12]:
#hna tawa bch nbda n5dm ala koll basa wa7adha bch les information mta3 il basa lo5ra may2athrouch alihaa
#bch n'affichi awal basa
data_Supermarket_Type1

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
6,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
8,FDH17,16.200,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,NaN,Tier 2,Supermarket Type1,1076.5986
...,...,...,...,...,...,...,...,...,...,...,...,...
8517,FDF53,20.750,reg,0.083607,Frozen Foods,178.8318,OUT046,1997,Small,Tier 1,Supermarket Type1,3608.6360
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [13]:
#donner monquante
data_Supermarket_Type1.isnull().sum()

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1855
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [34]:
#3anna des donnée monquante fel colonne Outlet_Size bch nara est ce que houma bil3ani monquante walla erreur selon il produit

#bch nregroui les valeurs illi 3andi selon les produits nom wel nb de valeurs null wetotale bch nara koll produits 9adh min mara t3awed w9adh min valeue null andou
stats = (
    data.groupby('Item_Type')['Outlet_Size']
    .agg(nbNull=lambda x: x.isnull().sum(),
         nbNotNull=lambda x: x.notnull().sum())
    .reset_index()
)
#affichit ken illi andhom valeur null>0
stats = stats[stats['nbNull'] > 0]

print(stats)

                Item_Type  nbNull  nbNotNull
0            Baking Goods     185        463
1                  Breads      72        179
2               Breakfast      31         79
3                  Canned     178        471
4                   Dairy     186        496
5            Frozen Foods     241        615
6   Fruits and Vegetables     349        883
7             Hard Drinks      66        148
8      Health and Hygiene     153        367
9               Household     261        649
10                   Meat     116        309
11                 Others      46        123
12                Seafood      18         46
13            Snack Foods     332        868
14            Soft Drinks     133        312
15          Starchy Foods      43        105